@use "sass:color";

$font-headers: "DIN Condensed", "Impact", "Arial Black", sans-serif;
$font-body: "Helvetica Neue", "Avenir Next", "Arial", sans-serif;
$font-weight: 200;
$font-color-dark: #000000;
$font-color-light: #ffffff;
$font-color-headers: #E05D2D;

$print3d-brand: #E05D2D;
$print3d-secondbrand: #000000;
$print3d-bg: #ffffff;

$site-width: 1280px;
